/* General */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-t : rgb(241, 243, 239);
  --color-extra: hsl(79, 94%, 21%);
  --color-grey: lightgrey;
  --font-t : 'Poppins', sans-serif;
}

body {
  font-family: var(--font-t);
  color: var(--color-t);
  background-color: hsl(79, 45%, 65%)
}





/* Flux */


.flux {
  overflow: hidden;
}





/* Media query : mobile */

@media screen and (min-width: 768px) {

  .header {
    width: 100%;
    height: 100%;
  }

  .header__cover {
    width: 992px;
    height: 1172px;
    background-size: cover;
  }
}



/* Media query Tablet */

@media screen and (min-width: 992px) {

}



/* Media query normal screen */

@media screen and (min-width: 1336px) {


  .flux {
  margin-left: 5%;
  max-width: 94%;
  }

  .header {
  width : 90vw;
  height: 100vh;
  }


  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 200px;
  }

}



/* Media query XL screen */

@media screen and (min-width: 1679px) {





}






/* Texts */


.title {
 font-weight: 800;
 font-size: 2.7em;
 margin-left: 2.7vw;
}

.color__btn {
  border: 0;
  background-color: var(--color-extra);
  box-shadow: -10px -9px 22px -1.5px khaki;
  border-radius: 0.8rem;
  width: 120px;
  height: 50px;

}

.shadow__texts {
  text-shadow: -1.5px 1px 2px black;
}





/* Header */

.header {
  box-shadow :-5px -1px 13px -1px rgb(80 75 33), 5px -1px 19px -4px rgb(80 75 33);
}




/* Navbar */

.navbar {
  position: absolute;
  padding: 50px 50px 0;
  display: flex;
  box-sizing: border-box;
  color: var(--color-t);
}


.navbar__bloc {
  margin-right: 120px;
}

.navbar__ul {
  display: flex;
}


.navbar__listelements {
  padding: 0 0.7vw;
  text-align: center;
}

.navbar__a {
  margin: 0 25px;
  font-size: 20px;
  display: inline-block;
  padding-top: 10px;
}

a:visited, a:link, a:hover, a:active {
  color: var(--color-t);
}

