/* General */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-t : rgb(241, 243, 239);
  --color-extra: hsl(79, 94%, 21%);
  --color-grey: lightgrey;
  --font-t : 'Poppins', sans-serif;
}

body {
  font-family: var(--font-t);
  color: var(--color-t);
  background-color: hsl(79, 45%, 65%)
}





/* Flux */

.flux {
  max-width: 100%;
  overflow: hidden;
}






/* Texts */

.title {
  font-weight: 800;
  font-size: 2.7em;
  margin-left: 3vw;
  top: 33px;
  position: absolute;
  display: block;
  width: min-content;
}

.color__btn {
  border: 0;
  background-color: var(--color-extra);
  box-shadow: 6px 9px 15px -1.5px #2c2b25;
  border-radius: 0.8rem;
  width: 105px;
  height: 50px;






}

.shadow__texts {
  text-shadow: -1.5px 1px 2px black;
}





/* Navbar */

.navbar {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-t);
}

.navbar__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.23);
  backdrop-filter:blur(2.2px);
  margin-left: -100%;
  transition: all 0.6s linear;
}

.navbar__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__listelements {
  padding: 0 0.7vw;
  text-align: center;
  margin: 0.78vw 0;
}

.navbar__a {
  margin: 10px 0;
  font-size: 20px;
  display: inline-block;
  padding-top: 10px;
}

a:visited, a:link, a:hover, a:active {
  color: var(--color-t);
}

.menu-burger {
  width: 35px;
  position: absolute;
  top: 50px;
  right: 50px;
  display: block;
}
.mobile-menu {
  margin-left:0 ;
}



/* Media query : mobile */

@media screen and (min-width: 768px) {

  .title {
    display: inline;
    width:auto;
  }


  .header {
    width: 100%;
    height: 100%;
  }

  .header__cover {
    width: 1400px;
    height: 100vh;
    background-size: cover;
  }
}



/* Media query Tablet */

@media screen and (min-width: 900px) {

}



/* Media query normal screen */

@media screen and (min-width: 1336px) {


  .flux {
    margin-left: 5%;
    max-width: 94%;
  }

  .header {
    width : 90vw;
    height: 100vh;
    box-shadow :-5px -1px 13px -1px rgb(80 75 33), 5px -1px 19px -4px rgb(80 75 33);
  }

  .header__cover {
    width: 1679px;
    height: 100vh;
  }


  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 200px;
  }

  .navbar__ul {
    display: flex;
  }

  .menu-burger {
    display: none;
  }

}



/* Media query XL screen */

@media screen and (min-width: 1679px) {



.header {
  width: 83vw;
  height: 100vh;
  box-shadow :-5px -1px 13px -1px rgb(80 75 33), 5px -1px 19px -4px rgb(80 75 33);
}
.header__cover {
  width: 83vw;
}

}







